@model CalculatorApp.Models.CalculatorModel


@{
    ViewData["Title"] = "Calculator";
}

<h1>@ViewData["Title"]</h1>

<form method="post"
      asp-action="Calculate">
    <div>
        <label for="FirstNumber">First Number:</label>
        <input type="number" step="any" id="FirstNumber" name="FirstNumber" value="@Model.FirstNumber" required />
    </div>

    <div>
        <label for="SecondNumber">Second Number:</label>
        <input type="number" step="any" id="SecondNumber" name="SecondNumber" value="@Model.SecondNumber" required />
    </div>

    <div>
        <label for="Operation">Operation:</label>
        <select id="Operation" name="Operation" asp-for="Operation" class="form-control" required>
            <option value="Add">Add</option>
            <option value="Subtract">Subtract</option>
            <option value="Multiply">Multiply</option>
            <option value="Divide">Divide</option>
        </select>

    </div>

    <button type="submit">Calculate</button>
</form>

@if (Model.Result != 0)
{
    <h2>Result: @Model.Result</h2>
}
